ibm_db_sa
ibm_db
ibm-cos-sdk
ibm_cloud_sdk_core==1.0.0
ibm_watson
pandas
python-dateutil
requests
PyPDF2
fuzzywuzzy
python-Levenshtein
extract_msg
-e git+https://github.com/arunwagle/submission-git.git#egg=arunwagle_submission_intake_utils